<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../style/about.css">
    <link rel="stylesheet" href="../style/style_sheet.css">
<!--     <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    <link rel="stylesheet" href="../font/bootstrap-icons.css">
    <script src="animations.js"></script>
    
</head>
<body>

    <nav class="navbar navbar-expand-xl navbar-light  header">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="../images/Sudharma_logo.png" width="150" height="70" class="me-3"
                    alt="Bootstrap"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbarExample-expand-xl" aria-controls="offcanvasNavbarExample-expand-xl">
                <span class="navbar-toggler-icon" data-bs-target="#offcanvasNavbarExample-expand-xl"></span>
            </button>
            <div class="offcanvas offcanvas-top" data-bs-hideresize="true" tabindex="-1"
                id="offcanvasNavbarExample-expand-xl" aria-labelledby="offcanvasNavbarExample-expand-xlLabel">
                <div class="offcanvas-header header">
                    <h5 class="offcanvas-title" id="offcanvasLabel ">eVSM</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./blog.html">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../components/course.html">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./blog.html">Workshop / Events</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Clients and Testimonials
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Clients</a></li>
                                <li><a class="dropdown-item" href="#">Testimonials </a></li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" style="font-weight:900;" aria-current="page" href="../components/aboutus.html">About Us</a>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-sm btn-outline-dark contact ">
                                <a class="nav-link anil" aria-current="page" href="../components/contact.html">Contact Us</a>
                            </button>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </nav><br><br>



 <!-- Content about  goes here -->


<div class="section" id="about">
        <div class="contents">
            <h1>About Our Lab</h1>
            <!-- Content about your team goes here -->
            Sudharma Learn Lab bridges the gap between academia and industry,
             introducing the transformative principles of Lean Thinking and Value Stream Mapping to the next generation of engineers. 
             Established in collaboration between SGBIT, ITCube, 
             and Avirays on 2nd February 2023, our mission extends beyond education. We're shaping industry-ready professionals through a blend of theory,
              real-world practice, and essential industry interactions. Powered by eVSM, 
              a renowned tool for operational excellence, our vision is broad: to take this initiative across India,
               enhancing engineering education and bolstering the "Make In India" drive.
        </div>
    </div>
    <div class="section" id="team">
        <div class="contents">
            <h1>Team</h1>
            <!-- Content about your team goes here -->
        </div>
    </div>
    <div class="section" id="vision">
        <div class="contents">
            <h1>Vision</h1>
         <p>   <!-- Content about your vision goes here -->
            Create a state-of-the-art lab powered by eVSM by creating a hub for collaboration and partnership, bringing together students, industry, and organizations to advance the practice of Lean Thinking
        </p>

        </div>
    </div>
    <div class="section" id="mission">
        <div class="contents">
            <h1>Mission</h1>
            <!-- Content about your mission goes here -->
          <p>  To provide a hands-on learning environment for students to develop practical skills in Lean Thinking and apply these principles to real-world problems.
To serve as a resource for improving efficiency and effectiveness in engineering and industry through the application of Lean Thinking principles.
To foster collaboration and partnerships with industry and organizations to provide students with practical experience and promote the adoption of Lean Thinking principles.
</p>     
</div>
    </div>
    <div class="section" id="functions">
        <div class="contents">
            <h1 style="font-size: 50px; color: rgb(92, 185, 52);">Functions</h1>
            <!-- Content about your functions goes here -->
            <div id="func">
            <p>1. Set up a Lean Thinking lab or lab space: This could be a dedicated area where students can work on Lean Thinking projects and experiments. The lab could be equipped with tools and resources to support this </p>
             <p>   2.Offer a course on Lean Thinking: This can be a standalone course or part of a program that teaches students about the principles and practices of Lean Thinking. <br></p>
             <p>  3. Set up a Lean Thinking workshop series: These workshops can be focused on specific Lean Thinking tools and techniques, such as value stream mapping, 5S, and Kanban. <br></p>
             <p>  4. Create a Lean Thinking club: This club can bring together students who are interested in learning more about Lean Thinking and how it can be applied in engineering projects. <br></p>
             <p>   5.Develop a Lean Thinking capstone project: This could be a project that students work on as part of their coursework or as a part of a club or consulting group. The project could involve applying Lean Thinking principles to solve a real-world problem. <br></p>
             <p>   6.Invite guest speakers: Bring in experts in Lean Thinking to speak to students about their experiences using these principles in industry. This can provide valuable insights and real-world examples for students to learn from.  <br></p>
             <p>  7. Establish a Lean Thinking consulting group: This group could work with engineering departments or companies to identify areas for improvement and implement Lean Thinking practices.</p>
            </div>
            </div>
            
    </div>br
    <br>
  
    <!-- footer -->
 
    <div class=" t-center footer  center justify-content-between ">
        <div class=" footer_box footer_img  ">

            <img src="../images/Sudharma_logo.png" height="60px" alt="">
        </div>
        <div class=" footer_box foot_cont ">

            <h6 class="mt-3" style="font-weight: bold;">Sudharma lean-Lab Group</h6>
            <p class="lead"> eVSM License Agreement </p>
            <p>© Copyright 2000-2023, GumshoeKI, Inc. All Rights Reserved. eVSM is a registered trademark of GumshoeKI,
                Inc.


        </div>

        
        <div class=" footer_box   ">


            <a href="#"> <i class="bi text-dark bi-whatsapp"></i></a>
            <a href="#"> <i class="bi text-dark bi-instagram"></i></a>
            <a href="#"> <i class="bi text-dark bi-facebook"></i></a>
            <a href="#"> <i class="bi text-dark bi-twitter"></i></a>


        </div>
    </div>   
</body>
</html>

