<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Structure</title>
    <link rel="stylesheet" href="../style/course.css">
    <link rel="stylesheet" href="../style/style_sheet.css">
<!--     <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    <link rel="stylesheet" href="../font/bootstrap-icons.css">
</head>
<body>
      <!-- ======================================== Nav bar ============================================== -->
      <nav class="navbar navbar-expand-xl navbar-light  header">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="../images/Sudharma_logo.png" width="150" height="70" class="me-3"
                    alt="Bootstrap"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbarExample-expand-xl" aria-controls="offcanvasNavbarExample-expand-xl">
                <span class="navbar-toggler-icon" data-bs-target="#offcanvasNavbarExample-expand-xl"></span>
            </button>
            <div class="offcanvas offcanvas-top" data-bs-hideresize="true" tabindex="-1"
                id="offcanvasNavbarExample-expand-xl" aria-labelledby="offcanvasNavbarExample-expand-xlLabel">
            
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link "  aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./blog.html">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="font-weight:900;" href="../components/course.html">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./blog.html">Workshop / Events</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Clients and Testimonials
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Clients</a></li>
                                <li><a class="dropdown-item" href="#">Testimonials </a></li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../components/aboutus.html">About Us</a>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-sm btn-outline-dark contact ">
                                <a class="nav-link anil" saria-current="page" href="../components/contact.html">Contact Us</a>
                            </button>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>
    
   <header id="head">
        <h1 style="font-size: 40px; height: 20px;">⩤ Course Structure ⩥</h1>
    </header>

    <main>
        
        <section id="beginner">
            <h2>1.Beginners Level: Pre Final Year Students</h2>
            
                <h2  class="topic">1. Lean and VSM Basics:</h2>
        
            <div id="topic_cover">
            <ul class="list-group">
                <h3 id="topic">I. Topics Covered:</h3><br>
                <div id="list_1">
                <li>●    Understanding Lean Principles</li>
                <li>● Identifying Different Forms of Waste</li>
                <li>● Introduction to Value Stream Mapping (VSM)</li>
                <li>● The Need and Benefits of VSM</li>
                <li>● Overview of Other Lean Tools, including:</li>
                <ul id="listitem" style="display: flex; flex-direction: column;gap: 5px; margin-left: 70px;">
                    <li>⇒ 5S: Workplace organization method</li>
                    <li>⇒ Poka-Yoke: Mistake-proofing techniques</li>
                    <li>⇒ Kaizen: Continuous improvement process</li>
                    <li>⇒ Kanban: Visual workflow management method</li>
                    <li>⇒ SMED: Single-Minute Exchange of Die, quick changeover techniques</li>
                </ul>
                <li>● Introduction to VSM for:</li>
                <ul style="display: flex;flex-direction: column;gap: 5px;margin-left: 70px;">
                    <li>⇒ Production</li>
                    <li>⇒ Services</li>
                    <li>⇒ Supply Chain</li>
                </ul>
            </div>
            </ul>
            <div><br>
            <h2 class="topic">2. Fast Draw and Time Map:</h2>
            
                <h3>I.Topics Covered:</h3> <br>
                <ul id="list_2">
                <li>● Mastery in Fast Draw Techniques</li>
                <li>● Proficiency in Time Mapping</li>
                <li>● Real-time Application: Mapping the Process Flow in Various Businesses</li>
            </ul>
        </div><br>
        <div>
            <h2 class="topic">3. Spaghetti Analysis:</h2>
            
                <h3>I.Topics Covered:</h3> <br>
                <ul id="list_2">
                <li>● Basics of Spaghetti Analysis</li>
                <li>● Application in Measuring Distance Traveled by Operator or Material in a Plant</li>
                <li>● Understanding the Importance of Flow Efficiency</li>
            </ul>
        </div>
        <div><br>
            <h2 class="topic">4. PDCA Improvement Framework:</h2>
            
                <h3>I.Topics Covered:</h3> <br>
                <ul id="list_2">
                <li>● Introduction to the Plan-Do-Check-Act (PDCA) Cycle</li>
                <li>● How PDCA Framework Integrates with VSM for Continuous Improvement</li>
                
            </ul>
        </div>
        <div><br>
            <h2 class="topic">5. Project Planning:</h2>
            
                <h3>I.Topics Covered:</h3> <br>
                <ul id="list_2">
                <li>● Introduction to Basic Project Planning Tools</li>
                <li>● Handling Project Timelines</li>
                <li>● Effective Resource Staffing Strategies for VSM Projects</li>
                
            </ul>
        </div> <br>
        <h3 id="beginner_level">The "Beginners Level" offers a comprehensive foundation that will ensure students 
            are well-equipped to tackle the more advanced topics 
            and real-world scenarios presented in the subsequent levels.</h3>
        </div>
        </section>

        <section id="advanced">
            <h2>II. Advanced Level: Designed for Final Year Students</h2>
            <ul>
            
                <h2 class="topic">1. Plant Production Maps:</h2>
                
            </ul>
            <div id="advan1">
                <ul>
                    <h3>● Topics Covered:</h3>
                    <div id="advance1" style="margin-left: 200px;"><br>
                    <li> ⇒ Deep Dive into Value Stream Mapping for Mixed Model Plant (Manufacturing and Process-oriented Industry)</li>
                    <li>⇒ Advanced Techniques for VSM in Manufacturing</li>
                    <li>⇒ Application in Diverse Manufacturing Scenarios</li>
                </div>
                </ul>

            </div><br>
            <div id="advan2">
                <h2 class="topic">2. Transaction Maps (Service Maps):</h2>
                <ul>
                    <h3>● Topics Covered:</h3>
                    <div id="advance2" style="margin-left: 200px;"><br>
                        <h4>● Advanced Mapping for Service Industries, including:</h4>
                <li>⇒ Software Development</li>  
                <li>⇒ Services and Staffing</li>
                <li>⇒ Customer Journey Mapping</li>  
            </ul>
                </div>
            </div><br>
            <div id="advan3">
                <h2 class="topic">3. Supply Network Mapping:</h2>
                <ul>
                    <h3>● Topics Covered:</h3>
                    <div id="advance3" style="margin-left: 200px;"><br>
                <li>⇒ Detailed Value Stream Mapping of Entire Supply Chains</li>  
                <li>⇒ Techniques for Mapping from Various Suppliers to Multiple Customers</li>
                <li>⇒ Advanced Tools and Techniques for Supply Chain Mapping</li>  
            </ul>
                </div>
            </div><br>
            <div id="advan4">
                <h2 class="topic">4. Real-Time Industrial Case Studies:</h2>
                <ul>
                    <h3>● Process and Learning:</h3>
                    <div id="advance4" style="margin-left: 200px;"><br>
                <li>⇒ Direct Industry Engagement: Students collaborate with industries to build case studies.</li>  
                <li>⇒ Process Understanding: Students visit industries to comprehend and analyze their processes.</li>
                <li>⇒ Data Collection: Walk-throughs of industry processes for hands-on data collection.</li> 
                <li>⇒ Mapping using eVSM: Transforming collected data into actionable maps using eVSM software.</li> 
                <li>⇒ Collaborative Brainstorming: Engage with industry teams to discuss and analyze current state findings. </li>
                <li>⇒ Future State Design: Based on findings and brainstorming, students design the future state of the industry process.</li>
                <li>⇒ Report and Action Plan: Prepare a comprehensive comparison report between current and future states, concluding with a robust implementation action plan.</li>

            </ul>
                </div>
            </div><br>
            <h3 id="beginner_level">This structure for the "Advanced Level" emphasizes not just the theoretical and technical aspects but
                 also underscores the real-world application and practical experiences that students will gain. 
                The direct engagement with the industry and the hands-on approach will equip students with 
                invaluable insights and skills as they transition into professionals.</h3>
        </section>
        
    </main>
    <div class=" t-center footer  center justify-content-between ">
        <div class=" footer_box footer_img  ">

            <img src="../images/Sudharma_logo.png" height="60px" alt="">
        </div>
        <div class=" footer_box foot_cont ">

            <h6 class="mt-3" style="font-weight: bold;">Sudharma lean-Lab Group</h6>
            <p class="lead"> eVSM License Agreement </p>
            <p>© Copyright 2000-2023, GumshoeKI, Inc. All Rights Reserved. eVSM is a registered trademark of GumshoeKI,
                Inc.


        </div>

        
        <div class=" footer_box   ">


            <a href="#"> <i class="bi text-dark bi-whatsapp"></i></a>
            <a href="#"> <i class="bi text-dark bi-instagram"></i></a>
            <a href="#"> <i class="bi text-dark bi-facebook"></i></a>
            <a href="#"> <i class="bi text-dark bi-twitter"></i></a>


        </div>
    </div>
    
    
</body>
</html>
